<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="azureData" connectionString="data source=tcp:jsv69rjowp.database.windows.net,1433;
         initial catalog=RestaurantChicken;persist security info=True;
         user id=chickenuser@jsv69rjowp;password=1q2w#E$R;MultipleActiveResultSets=True;"/>
  </connectionStrings>
</configuration>
